<section>
  <div class="page-header">
    <h1>
      Invoices
      <a class="btn btn-primary pull-right" data-ui-sref="admin.invoices.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
     <!--data-ui-sref="admin.invoices.edit({invoiceId: invoice._id})" -->
    <a data-ng-repeat="invoice in vm.invoices | filter: { isEditable: false }" ui-sref="invoices.view({ invoiceId: invoice._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="invoice.created | date:'mediumDate'"></span>
        by
        <span ng-if="invoice.user" ng-bind="invoice.user.displayName"></span>
        <span ng-if="!invoice.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading"><span>{{invoice.title}} - #{{invoice.number}}</span></h4>   
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.invoices.$resolved && !(vm.invoices | filter: { isEditable: false }).length">
    No invoices yet, why don't you <a data-ui-sref="admin.invoices.create">create one</a>?
  </div>
</section>
